<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<style>
    .shadow-box {
         /* width: 200px; 
         height: 200px;  */
        background-color: #777; /* Set the background color of the div */
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); /* Apply the shadow effect */
        margin: 20px; /* Adjust margin to control spacing between the div and background */
    }
    .seat input[type=checkbox]:disabled + label {
  background: red;
  cursor: not-allowed;
}
.seat input[type=checkbox]:disabled + label:hover {
  box-shadow: none; /* Remove the hover effect */
}
    .border-container {
            border: 2px solid #777; /* Border color for the intersection */
        }
        
        input{
                    border-radius: 6px;
                    padding: 6px;
                    margin: 3px;
                }
    
    form{
        width: 100%;
    }
    .bk{
        /* background-color: #f5f5ff; */
        background-color: rgba(255, 255, 255, 0.5);

    }
    .makecentre{
        margin: 30px;
    }
    h3,h2{
       color: #4CAF50;
    }
    body{
        
        background-image: url('https://i.pinimg.com/736x/54/7a/a2/547aa2956263b26befc4e9ee27bfdc92.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
    }
    /* #cbc7c7 */
    .plane {
          margin: 20px auto;
          max-width: 300px;
          background: white;
          border-top-left-radius: 50%;
          border-top-right-radius: 50%;
        }
        
        .select {
          height: 250px;
          position: relative;
          overflow: hidden;
          text-align: center;
        }
        
        .select h1 {
          width: 60%;
          margin: 100px auto 35px auto;
        }
        
        .exit {
          position: relative;
          height: 50px;
        }
        .exit:before, .exit:after {
          content: "EXIT";
          font-size: 14px;
          line-height: 18px;
          padding: 0px 2px 2px 2px;
          display: block;
          position: absolute;
          background: red;
          color: white;
          top: 50%;
          transform: translate(0, -50%);
          border-radius: 5px;
        }
        .exit:before {
          left: 10px;
        }
        .exit:after {
          right: 10px;
        }
        
        ol {
          list-style: none;
          padding: 0;
          margin: 0;
        }
        
        .seats {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          justify-content: flex-start;
        }
        
        .seat {
          display: flex;
          flex: 0 0 14.28%;
          padding: 5px;
          position: relative;
        }
        
        .seat label {
          display: block;
          position: relative;
          width: 100%;
          text-align: center;
          font-size: 14px;
          font-weight: bolder;
          line-height: 1.5rem;
          padding: 4px 0;
          background: #5bfc60;
          /* background: red; */
          border-radius: 5px; 
          color: black; 
        }
        
        .seat label:hover {
          cursor: pointer;
          box-shadow: 0 0 0px 2px green;
        }
        
        .seat:nth-child(3) {
          margin-right: 14%;
        }
        .seat input[type=checkbox] {
          position: absolute;
        }
        .seat input[type=checkbox]:checked + label {
          background: #656e65;
        }
</style>
<body style="background-color: rgba(0, 0, 0, 0.5) ;">
 
<div class="row " style=" padding: 10px; margin: 30px 20px ; ">

    <div class="col-8 ">
       <div class="flight-details shadow-box bk" >
        <div class="container-md  p-2 bk"  >
            <div class="row " style="margin: 2px 8px; padding: 5px;">
                <div class="col  " >
                   <h3 style="font-style: italic;">Ticket details</h3> 
                </div>
            </div>
            <div class="border-container"></div>
            <div class="row " style="margin: 2px 8px; padding: 5px;">

                <div class="col-md-3" style="margin: auto;" >
                    <p>{{id}}</p>
                
                </div>
                <div class="col-md-3">
                    <p>{{arrivaltime}}</p>
                    <p>{{day}}</p>
                    <p>{{date}}</p>

                    <p>{{origin}}</p>
                </div>
                <div class="col-md-3 text-center " style="margin: auto;">
                <p class='pb-0 mb-0'></p>
                <p class='pt-0 mt-0'>-------------></p>
                </div>
                <div class="col-md-3">
                    <p>{{departtime}}</p>
                    <p>{{day}}</p>
                    <p>{{date}}</p>

                    <p>{{destination}}</p>
                </div>
                <!-- <div class="col-md-2"> endtime</div>
                <div class="col-md-2">class</div> -->
            </div>
            <div class="border-container"></div>
            <div class="row" style="margin: 2px 8px; padding: 5px;">
                <div class="col" >
                    check-in=30kg max
                </div>
            </div>
        </div>
       </div>

    <div class="container-md  ">
      <div class="row ">
        <div  style="display: flex;">
            <form action="payment"onsubmit="return book_submit()" method="POST">
                {% csrf_token %}
              
                <div class="contact-info shadow-box p-3 justify-content-center bk">
                    <h3 style="font-style: italic;">Contact-Info </h3>
                    <div class="border-container"></div>
                    <div class="makecentre">
                    <div class="form-group " style=" width: 200px;">
                        <label>country code:</label>
                        <select class="form-control" id="countryDropdown" name="countrycode" > <!-- Adjust the width as needed -->
                            <option value="" selected disabled>Select a country</option>
                            <option value="us">United States (+1)</option>
                            <option value="ind">India (+91)</option>
                            <option value="uk">United Kingdom (+44)</option>
                            <option value="au">Australia (+61)</option>
                            <!-- Add more countries here -->
                        </select>
                    </div>
            <div class="form-group p-2" style="width: 200px;">
                <label for="email">email:</label>
                <input type="email" id="email" name="email" placeholder="enter email" required>
    
            </div>
            <div class="form-group p-2" style=" width: 200px;">
    
                <label for="Phone number">Phone number:</label>
                <input type="text" id="phone" name="phone" placeholder="enter 10 digit number" pattern="[0-9]{10}" required>
            </div>
        </div>
                </div>
                <div  class="passenger-info shadow-box p-3 my-4 bk">
                <h3 style="font-style: italic;">Passengers</h3>
                <div class="border-container"></div>
                <div class="makecentre">
                <div id="passenger-container">
                    <div class="passenger" style="margin-top: 3px;">
                        <label for="name">Name:</label>
                        <input type="text" id="name" name="passenger_name" placeholder="enter name" >
                        <label for="age">Age:</label>
                        <input type="number" id="age" name="passenger_age" placeholder="enter age"><br>
                        <div>
                        <label>Gender:</label>
                            <label for="passenger_male">Male</label>
                            <input type="radio" id="passenger_male" name="passenger_gender" value="male">
                        
                            <label for="passenger_female">Female</label>
                            <input type="radio" id="passenger_female" name="passenger_gender" value="female">
                        </div>
                    </div>
                </div>
            </div>
                <button type="button" id="add"  style=" margin: 10px;">  + Add Passenger</button>
                <br>
                <!-- <div id="list"></div> -->
                <br>
                <div > <input type="hidden" id="totalfare" name="totalfare"value="0"></div>
                <input type="hidden" name="flight_id" value="{{id}}">
                <input type="hidden" name="origin" value="{{origin}}">
                <input type="hidden" name="destination" value="{{destination}}">
                <input type="hidden" name="starttime" value="{{arrivaltime}}">
                <input type="hidden" name="endtime" value="{{departtime}}">
                <input type="hidden" name="date" value="{{date}}">
                <input type="hidden" name="day" value="{{day}}">
                <input type="hidden" name="cost" value="{{price}}">
                <input type="hidden" name="clas" value="{{clas}}">
                <input type="hidden" id="nop" name="totalpassengers" value=0>
                                  <input type="hidden" id="selectedSeats" name="selectedSeats" value="">
                <button type="submit" onclick="submitSeats()">Proceed to payment</button>
            </div>
            </form>
        </div>
      </div>
    </div>
</div>
<div class="col-4">
    <div class="container-md shadow-box bk">
        <h2 style="font-style: italic;">Fare</h2>
        <div class="border-container"></div>
        <div> <p style=" display: inline-block;">number of passengers : </p> <span id="no">0</span></div>
        <!-- <br> -->
        <div> <p style=" display: inline-block;">total fare : </p> <span>₹</span><span id="cost">0</span> </div>
    </div>
    <div class="plane">
        <div class="select">
          <h1>Please select a seat</h1>
        </div>
        <div class="exit"></div>
      <ol>
        <li>
          <ol class="seats" id="seatList1">
            <li class="seat">
              <input type="checkbox" id="1A" />
              <label for="1A">1A</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="1B" />
              <label for="1B">1B</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="1C" />
              <label for="1C">1C</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="1D" />
              <label for="1D">1D</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="1E" />
              <label for="1E">1E</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="1F" />
              <label for="1F">1F</label>
            </li>
          </ol>
        </li>
        <li>
          <ol class="seats" id="seatList2">
            <li class="seat">
              <input type="checkbox" id="2A" />
              <label for="2A">2A</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="2B" />
              <label for="2B">2B</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="2C" />
              <label for="2C">2C</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="2D" />
              <label for="2D">2D</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="2E" />
              <label for="2E">2E</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="2F" />
              <label for="2F">2F</label>
            </li>
          </ol>
        </li>
        <li>
          <ol class="seats" id="seatList3">
            <li class="seat">
              <input type="checkbox" id="3A" />
              <label for="3A">3A</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="3B" />
              <label for="3B">3B</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="3C" />
              <label for="3C">3C</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="3D" />
              <label for="3D">3D</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="3E" />
              <label for="3E">3E</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="3F" />
              <label for="3F">3F</label>
            </li>
          </ol>
        </li>
        <li>
          <ol class="seats" id="seatList4">
            <li class="seat">
              <input type="checkbox" id="4A" />
              <label for="4A">4A</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="4B" />
              <label for="4B">4B</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="4C" />
              <label for="4C">4C</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="4D" />
              <label for="4D">4D</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="4E" />
              <label for="4E">4E</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="4F" />
              <label for="4F">4F</label>
            </li>
          </ol>
        </li>
        <li>
          <ol class="seats" id="seatList5">
            <li class="seat">
              <input type="checkbox" id="5A" />
              <label for="5A">5A</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="5B" />
              <label for="5B">5B</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="5C" />
              <label for="5C">5C</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="5D" />
              <label for="5D">5D</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="5E" />
              <label for="5E">5E</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="5F" />
              <label for="5F">5F</label>
            </li>
          </ol>
        </li>
        <li>
          <ol class="seats" id="seatList6">
            <li class="seat">
              <input type="checkbox" id="6A" />
              <label for="6A">6A</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="6B" />
              <label for="6B">6B</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="6C" />
              <label for="6C">6C</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="6D" />
              <label for="6D">6D</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="6E" />
              <label for="6E">6E</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="6F" />
              <label for="6F">6F</label>
            </li>
          </ol>
        </li>
        <li>
          <ol class="seats" id="seatList7">
            <li class="seat">
              <input type="checkbox" id="7A" />
              <label for="7A">7A</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="7B" />
              <label for="7B">7B</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="7C" />
              <label for="7C">7C</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="7D" />
              <label for="7D">7D</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="7E" />
              <label for="7E">7E</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="7F" />
              <label for="7F">7F</label>
            </li>
          </ol>
        </li>
        <li>
          <ol class="seats" id="seatList8">
            <li class="seat">
              <input type="checkbox" id="8A" />
              <label for="8A">8A</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="8B" />
              <label for="8B">8B</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="8C" />
              <label for="8C">8C</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="8D" />
              <label for="8D">8D</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="8E" />
              <label for="8E">8E</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="8F" />
              <label for="8F">8F</label>
            </li>
          </ol>
        </li>
        <li>
          <ol class="seats" id="seatList9">
            <li class="seat">
              <input type="checkbox" id="9A" />
              <label for="9A">9A</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="9B" />
              <label for="9B">9B</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="9C" />
              <label for="9C">9C</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="9D" />
              <label for="9D">9D</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="9E" />
              <label for="9E">9E</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="9F" />
              <label for="9F">9F</label>
            </li>
          </ol>
        </li>
        <li>
          <ol class="seats" id="seatList10">
            <li class="seat">
              <input type="checkbox" id="10A" />
              <label for="10A">10A</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="10B" />
              <label for="10B">10B</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="10C" />
              <label for="10C">10C</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="10D" />
              <label for="10D">10D</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="10E" />
              <label for="10E">10E</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="10F" />
              <label for="10F">10F</label>
            </li>
          </ol>
        </li>
      </ol>
      {% comment %} <button onclick="submitSeats()">Confirm</button> {% endcomment %}
      <div class="exit"></div>
    </div>
</div>
    </div>
</div>
    

    <script>
        let addButton = document.getElementById("add");
        let pname = document.getElementById("name");
        let page = document.getElementById("age");
        let passengerContainer = document.getElementById("passenger-container");
        
        let passengerCount = 0;
        let noofp=document.getElementById("no")
        let nop=document.getElementById("nop")
        let cost=document.getElementById("cost")
        let list=document.getElementById("list");
        let fare=document.getElementById("totalfare")

        var maleRadioButton = document.getElementById("passenger_male");
        var femaleRadioButton = document.getElementById("passenger_female");
      

        addButton.addEventListener('click', function () {
            if (maleRadioButton.checked || femaleRadioButton.checked){

            
          if(pname.value!=''&&page.value!='') {
            passengerCount++;
            let passengerDiv = document.createElement('div');
            passengerDiv.className = "passenger";
            let pgender
        if (maleRadioButton.checked) {
        pgender="male";
    } else if (femaleRadioButton.checked) {
        pgender="female";}
            

            
            passengerDiv.innerHTML = `
            <div>
                            <span class="traveller-name">${pname.value} ${page.value} ${pgender} </span>
                          
                        </div>
               
                <input type="hidden" name="passenger_name${passengerCount}"  value="${pname.value}" required >
               
                <input type="hidden" name="passenger_age${passengerCount}"  value="${page.value}" required >
                <input type="hidden" name="passenger_gender${passengerCount}"  value="${pgender}" required >
            `;
            pname.value='';
            page.value='';
            maleRadioButton.checked = false;
            femaleRadioButton.checked = false;
            

            passengerContainer.appendChild(passengerDiv)
            noofp.innerHTML= passengerCount
            nop.value= passengerCount
            cost.innerHTML=passengerCount*{{price}}
          } 
          else
          alert('Please fill all details.');
        }
        else
        alert('Please fill all details.');

        
        fare.value=passengerCount*{{price}}
       

        });
        function book_submit() {
           
            if(parseInt(passengerCount) > 0) {
                return true;
            }
            alert("Please add atleast one passenger.")
            return false;
        }
        
    </script>
    <script>
        {% comment %} function submitSeats() {
            const selectedSeats = [];
            console.log('hi')
            const seatLists = document.querySelectorAll('.seats');
            seatLists.forEach(seatList => {
              const checkboxes = seatList.querySelectorAll('input[type="checkbox"]:checked');
              const seatsInRow = Array.from(checkboxes).map(checkbox => checkbox.id);
              selectedSeats.push(...seatsInRow);
            });
            document.getElementById('selectedSeats').value = selectedSeats.join(',');
            // alert('Selected Seats: ' + selectedSeats.join(','));
            console.log(selectedSeats);

          } {% endcomment %}
          function submitSeats() {
            const selectedSeats = [];
            const seatLists = document.querySelectorAll('.seats');
        
            // Count the number of selected seats
            let selectedSeatsCount = 0;
            seatLists.forEach(seatList => {
                const checkboxes = seatList.querySelectorAll('input[type="checkbox"]:checked');
                const seatsInRow = Array.from(checkboxes).map(checkbox => checkbox.id);
                selectedSeats.push(...seatsInRow);
                selectedSeatsCount += checkboxes.length;
            });
        
            // Get the number of passengers from the hidden input
            const numberOfPassengers = parseInt(document.getElementById("no").innerText);
        
            // Validate the number of selected seats
            if (selectedSeatsCount === numberOfPassengers) {
                document.getElementById('selectedSeats').value = selectedSeats.join(',');
                console.log('Selected Seats:', selectedSeats);
                // You can add additional logic here, or proceed with the form submission
            } else {
                alert('Please select seats equal to the number of passengers.');
                // Prevent form submission
                return false;
            }
        }
        
          window.onload = function () {
            let unavailableSeats = {{seat_numbers_list|safe}};  
          console.log(unavailableSeats)
        
          for (let seatId of unavailableSeats) {
            console.log(seatId)
            
                const seatCheckbox = document.getElementById(seatId);
                
                if (seatCheckbox) {
                    seatCheckbox.disabled = true;
                    // Optionally change the background color of the disabled seat
                    
                    seatCheckbox.parentElement.style.backgroundColor = 'red';
                    // Change the checkbox color to red
                    seatCheckbox.style.backgroundColor = 'red';
                    // Optionally, you can change the text color or any other styles
                    seatCheckbox.labels[0].style.background = 'red';
                }
            }
        };
        
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
